.App {
  background-color: rgba(96, 218, 206, 0.748);
  text-align: center;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#text_head {
  justify-content: center;
  display: flex;
}
.op {
  display: flex;
  margin-top: 10px;
}
.opP {
  flex: 1;
 
  margin-right: 5px;
  margin:0 10px;
  margin-bottom: -5px;
}
.opM {
  flex: 1;

  margin-left: 5px;
  margin:0 10px;
  margin-bottom: -5px;
}
.text1 {
  border: 2px #282c34 solid;
  border-radius: 2mm;
  padding: 10px;
  margin: 20px;
}
 .text2 {
  border: 2px #282c34 solid;
  border-radius: 2mm;
  padding: 10px;
 margin: 0 35%;
}
 
.opP , .opM,.pointer:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
